opencv-python
keyboard
libximc
lucam
pillow
matplotlib
mcculw
pyqtgraph
SER @ git+https://github.com/FranciscoGauna/SER.git#egg=SER
lantz.drivers @ git+https://github.com/lantzproject/lantz-drivers.git#egg=lantz.drivers